---
layout: base
title: News
group: news
tagline: What's old and new with Inbucket
---
<div class="page-header">
  <h1>
    News Archive
    {% if paginator.page > 1 %}
      <small>page {{paginator.page}}</small>
    {% else %}
      <small>{{page.tagline}}</small>
    {% endif %} 
  </h1>
</div>

<div class="row">
  <div class="col-sm-8 blog-main">
    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
      <div class="blog-post blog-style">
        <h2 class="blog-post-title"><a href="{{post.url}}">{{post.title}}</a></h2>
        <p class="blog-post-meta">{{post.date | date_to_string }}</p>
        {{post.content}}
      </div>
    {% endfor %}

    <ul class="pager pager-primary">
      {% unless paginator.previous_page %}
        {% assign prev_disable = "disabled" %}
      {% endunless %}
      {% unless paginator.next_page %}
        {% assign next_disable = "disabled" %}
      {% endunless %}
      <li class="previous {{prev_disable}}"><a href="page{{paginator.previous_page}}"
        >&larr; Older</a></li>
      <li class="next {{next_disable}}"><a href="page{{paginator.next_page}}"
        >Newer &rarr;</a></li>
    </ul>
  </div>

  <div class="visible-md visible-lg col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module">
      <h4>All Posts</h4>
      <ol class="list-unstyled">
        {% for post in site.posts %}
          <li><a href="{{post.url}}">{{post.title | truncate: 30}}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
</div><!--/row-->
