<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page.title}}</title>

    <!-- Bootstrap -->
    <link href="{{BASE_PATH}}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{BASE_PATH}}/css/inbucket.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{BASE_PATH}}/">{{site.name}}</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% for el in site.navbar %}
            <li {% if el.group == page.group %}class="active"{% endif %}>
              <a href="{{BASE_PATH}}{{el.path}}">{{el.label}}</a></li>
            {% endfor %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Get It
                <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{BASE_PATH}}/bintray.html">Binaries</a></li>
                <!-- <li><a href="#">Docker Image</a></li> -->
                <li><a href="https://github.com/jhillyerd/inbucket">Source on GitHub</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Installation
                <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{BASE_PATH}}/installation/from-source.html">From Source</a></li>
                <li><a href="{{BASE_PATH}}/installation/redhat.html">RedHat Linux</a></li>
                <li><a href="{{BASE_PATH}}/installation/ubuntu.html">Ubuntu Linux</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="content" class="container">
      {{ content }}
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted">
          &copy; James Hillyerd 2014 with help from <a href="http://getbootstrap.com/"
            target="_blank">Bootstrap</a> and
          <a href="http://bootswatch.com/">Bootswatch</a>.
          Inbucket is open source software released under the MIT License.
        </p>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{BASE_PATH}}/js/bootstrap.min.js"></script>
  </body>
</html>
